:root {
    --dark: #555555;
    --mid: #aaaaaa;
    --accent: #cccccc;
    --light: #fafafa;
    --lmain: #f57a80;
    --mmain: #f4676e;
    --dmain: #f2545c;
    --blue: #0073bb;
}

body,
html,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}

button {
    background-color: transparent;
    cursor: pointer;
}
