.Modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.4);
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ModalContent {
  min-width: 260px;
  border: 1px solid var(--mid);
  border-radius: 10px;
  background: var(--light);
}

.ModalContent > div {
  height: 100%;
  width: 100%;
}
