#Nav {
  height: 8%;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#NavItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Nav svg {
  height: 25px;
  width: auto;
}

.NavItem {
  margin: 0.5em;
}
