#Nav {
  grid-area: nav;
  height: 100%;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid var(--accent);
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#RightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
}

#RightNav svg {
  height: 25px;
  width: auto;
}
