#AddPost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#APimage {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 500px;
  border: 1px solid var(--accent);
}

#APimage > label {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

#APimage > label:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#APimage > label > svg {
  height: 50px;
  width: auto;
}

#APpreview {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

#APcaption > input {
  width: 100%;
  height: 100px;
  padding: 5px;
  font-size: 15px;
}

#APcaption > button {
  width: 100%;
  height: 50px;
  background-color: var(--lmain);
  color: white;
}

#APcaption > button:hover {
  background-color: var(--mmain);
}

#PostTemplate {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: 100px 500px;
  grid-template-areas:
    "image caption"
    "image comments";
}

#PostImage {
  grid-area: image;
  border: 1px solid var(--accent);
}

#PostCaption {
  grid-area: caption;
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

#PostComments {
  grid-area: comments;
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}

#PostTemplate div {
  height: 100%;
  width: 100%;
}

.Post {
  display: flex;
  flex-direction: column;
  padding: 2%;
  min-width: 300px;
  box-sizing: content-box;
}

.PostHeader {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 2%;
}

.PostHeader img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid var(--accent);
  margin-right: 2%;
}

.PostImg {
  min-width: 300px;
  width: 60vw;
  border: 1px solid var(--accent);
}

.PostInfo {
}

.PostCaption {
  display: flex;
}

.PostComment {
  display: flex;
}

.AddComment {
  display: flex;
}
