#Splash {
    height: 100%;
    width: 100%;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.AuthForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10%;
    border-radius: 6px;
}

.AuthForm * {
    margin: 5px 0;
}

.AuthForm h1 {
    font-size: 2em;
    margin-bottom: 40px;
}

.AuthForm input {
    min-height: 40px;
    min-width: 300px;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--light);
}

.AuthFormButton {
    min-height: 40px;
    min-width: 300px;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: var(--mmain);
}

.AuthFormButton:hover {
    background-color: var(--dmain);
}

.AuthButton {
    min-height: 40px;
    min-width: 300px;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

.AuthButton:hover {
    opacity: 1;
}

.AuthButton svg {
    height: 30px;
    width: auto;
}

.ordiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.ordiv span {
    border-bottom: 1px solid var(--dark);
    width: 120px;
}

.AuthAlt {
    background-color: white;
    padding: 30px 50px;
    border-radius: 6px;
    margin: 20px 0;
    text-align: center;
}

.AuthAlt button {
    color: var(--blue);
    font-size: 100%;
    cursor: pointer;
}

.AuthAlt button:hover {
    text-decoration: underline;
}
