@media screen and (max-width: 500px) {
  #UserHeader {
    display: grid;
    grid-template-columns: 100px 10px auto;
    grid-template-rows: 50px 50px 75px 25px;
    grid-template-areas:
      "UHimg . UHname"
      "UHimg . UHbuttons"
      "UHbio UHbio UHbio"
      "UHfollow UHfollow UHfollow";
  }
}

@media screen and (min-width: 501px) {
  #UserHeader {
    display: grid;
    grid-template-columns: 150px 10px auto;
    grid-template-rows: 75px 75px 75px 25px;
    grid-template-areas:
      "UHimg . UHname"
      "UHimg . UHbuttons"
      ". . UHbio"
      ". . UHfollow";
  }
}

#UserBubble {
  height: 25px;
}

#UserPhoto {
  height: 25px;
  width: 25px;
  border: 2px solid var(--dark);
  border-radius: 50%;
}

#UserHeader {
  width: 100%;
  padding: 3%;
}

.UHimg {
  grid-area: UHimg;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.UHname {
  grid-area: UHname;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UHbuttons {
  grid-area: UHbuttons;
  display: flex;
  align-items: center;
}

.UHfollow {
  grid-area: UHfollow;
  display: flex;
  justify-content: space-between;
}

.UHfollow > div {
  display: flex;
}

.UHbio {
  grid-area: UHbio;
  margin-top: 10px;
}

#UserPosts {
  border-top: 1px solid var(--accent);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#UserPost {
  width: 32%;
}

#UserMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#UserMenu > * {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--accent);
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

#UserSettings {
  background-color: white;
  border: 1px solid var(--accent);
  display: flex;
}

#USNav {
  height: 100%;
  width: 25%;
  border-right: 1px solid var(--accent);
}

.USNavItem {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  cursor: pointer;
}

.USNavItem:hover {
  background-color: var(--light);
  border-left: 2px solid var(--mid);
}

.USContent {
  height: 100%;
  width: 75%;
}

#UserResult {
  height: 50px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent);
}

#UserResult img {
  height: 40px;
  width: 40px;
  border: 1px solid var(--accent);
  border-radius: 50%;
}

#UserResult div {
  display: flex;
  align-items: center;
}

.UserFollow {
  padding: 10px;
  border: 1px solid var(--accent);
  border-radius: 6px;
  color: white;
  background-color: var(--lmain);
}

.UserFollow:hover {
  background-color: var(--mmain);
}

#EditProfile {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
}

.editarea {
  display: grid;
  grid-template-columns: 0.5fr 2% 1fr 2%;
  grid-template-areas: "label . input .";
  height: 60px;
  margin-bottom: 2%;
}

.label {
  grid-area: label;
  justify-self: end;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.input {
  grid-area: input;
  height: 60px;
  display: flex;
  align-items: center;
  border: 1px solid var(--accent);
  border-radius: 6px;
  font-size: 16px;
}
