#User {
  height: 100%;
  width: 100%;
}

#UserBubble {
  height: 25px;
}

#UserPhoto {
  height: 25px;
  width: 25px;
  border: 1px solid var(--dark);
  border-radius: 50%;
}

#UserMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 200px;
  background-color: var(--dark);
}
