#User {
  height: 100%;
  width: 100%;
}

#UserBubble {
  height: 25px;
}

#UserPhoto {
  height: 25px;
  width: 25px;
  border: 1px solid var(--dark);
  border-radius: 50%;
}

#UserHeader {
  height: 200px;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.UHimg {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-color: white;
}

.UHdiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.UHspan {
  width: 100%;
  display: flex;
  align-items: center;
}

.UHspan > * {
  font-size: 16px;
  margin-right: 20px;
  display: flex;
}

.UHspan > svg {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.UHspan > a {
  border: 1px solid var(--accent);
  padding: 10px;
  border-radius: 6px;
  text-decoration: none;
}

#UserPosts {
  border-top: 1px solid var(--accent);
}

#UserMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#UserMenu > * {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--accent);
  font-size: 14px;
  text-decoration: none;
  text-align: center;
}

#UserSettings {
  background-color: white;
  border: 1px solid var(--accent);
  display: flex;
}

#USNav {
  height: 100%;
  width: 25%;
  border-right: 1px solid var(--accent);
}

.USNavItem {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  cursor: pointer;
}

.USNavItem:hover {
  background-color: var(--light);
  border-left: 2px solid var(--mid);
}

.USContent {
  height: 100%;
  width: 75%;
}
